.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skills-img-overlay {
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-list-overlay {
    position: relative;
}

.skills-section {
    padding-top: 0px;
}